{% extends 'base.html' %}	
{% load staticfiles %}
{% block title %}
Dando Ganando
{% endblock %}

{% block cuerpo %}
<div class="container">
  <div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="{% static 'img/dulces.jpg' %}" alt="Holi">
	      <div class="caption">
	        <h3>Dulces de Patzun</h3>
	        <p>Los dulces de patzun son maravillosos para la salud, tienen grandes propiedades curativas y son de verdad muy ricos. Creados por las comunidades directamente de patzun, así que no sólo estarás comprando buen producto sino tambien son muy ricos :P</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="{% static 'img/dulces.jpg' %}" alt="Holi">
	      <div class="caption">
	        <h3>Dulces de Patzun</h3>
	        <p>Los dulces de patzun son maravillosos para la salud, tienen grandes propiedades curativas y son de verdad muy ricos. Creados por las comunidades directamente de patzun, así que no sólo estarás comprando buen producto sino tambien son muy ricos :P</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="{% static 'img/dulces.jpg' %}" alt="Holi">
	      <div class="caption">
	        <h3>Dulces de Patzun</h3>
	        <p>Los dulces de patzun son maravillosos para la salud, tienen grandes propiedades curativas y son de verdad muy ricos. Creados por las comunidades directamente de patzun, así que no sólo estarás comprando buen producto sino tambien son muy ricos :P</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="{% static 'img/dulces.jpg' %}" alt="Holi">
	      <div class="caption">
	        <h3>Dulces de Patzun</h3>
	        <p>Los dulces de patzun son maravillosos para la salud, tienen grandes propiedades curativas y son de verdad muy ricos. Creados por las comunidades directamente de patzun, así que no sólo estarás comprando buen producto sino tambien son muy ricos :P</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>

</div>



{% endblock %}

{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}